$header-font-color:#424242;
$main-font-color : #424242;
$alt-font-color : white;
$accent-color: #2ecc71;

$red-accent: #de2b24;

$pre-footer-color :#14151a;

$card-body:#eaeaea;
$card-title:#a8a8a8;

$bold:    "700";
$regular: "400";
$light:   "300";


/* Blue Easy Demo */

// font-family: 'Lato', sans-serif; in place of SeboeUi(paid)
// font-family: 'Bitter', serif;

$be-bold: "900";
$be-semibold:"700";
$be-regular:"400";
$be-light:"300";

$be-header-font-color: black;
$be-main-font-color: black;
$be-alt-font-color: white;
$be-main-color:blue;
$be-accent-color:#4bcaff;
