$header-font-color:#424242;
$main-font-color : #424242;
$alt-font-color : white;
$accent-color: #2ecc71;

$red-accent: #de2b24;

$pre-footer-color :#14151a;

$card-body:#eaeaea;
$card-title:#a8a8a8;

$bold:    "700";
$regular: "400";
$light:   "300";
